:root {
  --background-neutral: rgba(9, 30, 66, 0.04);
  --background-neutral-hovered: rgba(9, 30, 66, 0.08);
  --background-neutral-pressed: rgba(9, 30, 66, 0.18);
  --background-input: #fafbfc;
  --background-input-hovered: #ebecf0;
  --background-input-pressed: #ffffff;
  --background-disabled: #ebecf0;
  --background-brand-bold: #0079bf;
  --background-brand-bold-hovered: #026aa7;
  --background-brand-bold-pressed: #055a8c;
  --background-danger: #fbedeb;
  --background-danger-bold: #b04632;
  --background-danger-bold-hovered: #eb5a46;
  --background-danger-bold-pressed: #933b27;
  --border-radius: 3px;
}
