:root {
  --background-neutral: rgba(9, 30, 66, 0.04);
  --background-neutral-hovered: rgba(9, 30, 66, 0.08);
  --background-neutral-pressed: rgba(9, 30, 66, 0.18);
  --background-input: #fafbfc;
  --background-input-hovered: #ebecf0;
  --background-input-pressed: #ffffff;
  --background-disabled: #ebecf0;
  --background-brand-bold: #0079bf;
  --background-brand-bold-hovered: #026aa7;
  --background-brand-bold-pressed: #055a8c;
  --background-danger: #fbedeb;
  --background-danger-bold: #b04632;
  --background-danger-bold-hovered: #eb5a46;
  --background-danger-bold-pressed: #933b27;
  --background-warning: #fffae6;
  --background-warning-bold: #f2d024;
  --background-warning-bold-hovered: #ffdf5d;
  --background-warning-bold-pressed: #d0a016;
  --background-warning-a: hsla(48, 100%, 95%, 0.04);
  --background-warning-bold-a: hsla(50, 89%, 55%, 0.04);
  --background-warning-bold-hovered-a: hsla(48, 100%, 68%, 0.08);
  --background-warning-bold-hovered2-a: hsla(48, 100%, 68%, 0.24);
  --background-warning-bold-pressed-a: hsla(45, 81%, 45%, 0.18);
  --color-text-subtle: #5e6c84;
  --border-radius: 3px;
}
